.icon-cards {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 160px;
  margin: 0;
  perspective: 800px;
  transform: translate(-50%,-50%);
  z-index: 100;
}

.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-182px) rotateY(0);
  animation: carousel 10s infinite cubic-bezier(1,.015,.295,1.225) forwards;
}

.icon-cards__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  border-radius: 6px;
}

.icon-cards__item:nth-child(1) {
  color: rgba(252,192,77,.9);
  background: url('assets/building-alt1-15.svg');
  background-size: cover;
  transform: rotateY(0) translateZ(182px);
}

.icon-cards__item:nth-child(2) {
  background: url('assets/city-15.svg');
  background-size: cover;
  color: rgba(49,192,204,.9);
  transform: rotateY(120deg) translateZ(182px);
}

.icon-cards__item:nth-child(3) {
  color: rgba(236,233,242,.9);
  background: url('assets/home-15.svg');
  background-size: cover;
  transform: rotateY(240deg) translateZ(182px);
}

@keyframes carousel {
  0%,  17.5%  { transform: translateZ(-182px) rotateY(0); }
  27.5%, 45%  { transform: translateZ(-182px) rotateY(-120deg); }
  55%, 72.5%  { transform: translateZ(-182px) rotateY(-240deg); }
  82.5%, 100% { transform: translateZ(-182px) rotateY(-360deg); }
}
