
#splash-page {
  background-image: url('./background_min.jpg');
  text-align: center; 
  height: 100vh;
  position: relative;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#layer {
  background: linear-gradient(to right, rgba(63, 81, 181, .67), rgba(86, 179, 224, .9)); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.logo {
  color: #f6f6f4;
  font-size: 64px;
  font-family: 'Milonga', cursive;
  font-weight: 700;
  margin-top: 30vh;
  margin-bottom: 10vh;
  text-shadow: 2px 2px #291845;
}

#tour-button {
  background-color: #281845;
  box-shadow: 5 5 5 5 #ccc;
  color: #f6f6f4;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  margin: auto;
  padding: 15px 25px;
}

#tour-button:hover {
  background-color: #4c3672;
}

#tour-button:active {
  background-color: #bda8ad;
}
