.site-header {
  align-items: center;
  background: #281845;
  display: flex;
  height: 60px;
  justify-content: center;
}

.site-header {
  color: #f6f6f4;
  font-size: 2rem;
  font-family: 'Milonga', cursive;
  text-shadow: 2px 2px #000;
}
