.main-wrap {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  height: 90vh;
  justify-content: space-between;
  min-height: 400px;
  position: relative;
}

@media screen and (max-width: 650px) {
  .main-wrap {
    flex-direction: column-reverse;
  }
}
