.sidebar {
  overflow-y: scroll;
  position: relative;
  width: 340px;
  max-width: 340px;
  width: 40vw;
}

.hide-sidebar-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.sidebar-hidden {
  overflow: hidden;
  transition: flex 0.3s ease-out;
  transition-delay: 0.1s;
  flex: 0;
}

.sidebar-show {
  display: auto;
  transition: flex 0.3s ease-out;
  transition-delay: 0.1s;
  flex: 1;
}

.banner-img-wrap {
  height: 300px;
  overflow: hidden;
}

.banner-img-wrap .banner-img {
  overflow-y: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 340px;
  height: 300px;
  min-width: 240px;
}

.content-wrap h2,
.content-wrap ul,
.content-wrap p {
  margin: 20px;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

li {
  font-weight: 700;
  margin: 10px 0px;
}

p {
  line-height: 1.25rem;
}

@media and max-width(500px) {
  .sidebar {
    width: 100vw;
  }
}
