.sidebar {
  overflow-y: scroll;
  position: relative;
  width: 40vw;
}

.hide-sidebar-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.sidebar-hidden {
  display: none;
}

.sidebar-show {
  display: auto;
}

.banner-img-wrap img{
  overflow-y: hidden;
  width: 100%;
}

.content-wrap h2,
.content-wrap ul,
.content-wrap p {
  margin: 20px;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

li {
  font-weight: 700;
  margin: 10px 0px;
}

p {
  line-height: 1.25rem;
}

@media and max-width(500px) {
  .sidebar {
    width: 100vw;
  }
}
