.sidebar {
  overflow-y: scroll;
  position: relative;
  width: 340px;
  max-width: 340px;
  width: 40vw;
}

.sidebar-hidden {
  overflow: hidden;
  transition: flex 0.3s ease-out;
  transition-delay: 0.1s;
  flex: 0;
}

.sidebar-show {
  display: auto;
  transition: flex 0.3s ease-out;
  transition-delay: 0.1s;
  flex: 1;
}

.hide-sidebar-btn {
  cursor: pointer;
  opacity: .5;
  position: absolute;
  right: 20px;
  top: 20px;
}

.slider-btn {
  cursor: pointer;
  font-size: 42px;
  font-weight: 700;
  opacity: .5;
  position: absolute;
  top: 130px;
}

.slider-btn:hover,
.hide-sidebar-btn:hover {
  opacity: 1;
}

.slider-btn-left {
  left: 10px;
}

.slider-btn-right {
  right: 10px;
}

.banner-img-wrap {
  height: 300px;
  overflow: hidden;
  margin: auto;
}

.banner-img-wrap .banner-img {
  overflow-y: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 340px;
  height: 300px;
  min-width: 240px;
  margin: auto;
}

.content-wrap h2,
.content-wrap ul,
.content-wrap p {
  margin: 20px;
  min-width: 240px;
}

.content-wrap h2 {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 20px;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

li {
  font-weight: 700;
  margin: 10px 0px;
}

p {
  line-height: 1.25rem;
}

@media screen and (max-width: 875px) {
  .sidebar-show {
    min-width: 300px;
  }

  .sidebar-hidden {
    min-width: 0;
  }
}

@media screen and (max-width: 650px) {
  .sidebar {
    max-width: 100%;
    width: 100%;
  }

  .sidebar-show {
    flex-grow: 115;
    transition: flex 0.5s ease-in;
    transition-delay: 0.1s;
  }

  .sidebar-hidden {
    transition: flex 0.5s ease-out;
    transition-delay: 0.3s;
  }

  .banner-img-wrap .banner-img {
    width: 100%;
  }

  .hide-sidebar-btn {
    transform: rotate(-90deg);
  }

  .content-wrap h2,
  .content-wrap ul,
  .content-wrap p {
    margin: 30px;
  }
}
