.map-wrap {
  position: relative;
  min-height: 400px;
  height: 90vh;
  flex-grow: 1;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-ctrl-attrib a, 
.mapboxgl-ctrl a {
  display: none;
}
