.map-wrap {
  position: relative;
  flex-grow: 2;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#map canvas {
  width: 100%;
}

.mapboxgl-ctrl-attrib a, 
.mapboxgl-ctrl a, 
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-attrib {
  display: none;
}

.mapboxgl-popup {
  max-width: 250px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-wrap: nowrap;
}

.mapboxgl-popup img {
  width: 70px; 
  height: 70px;
  border: 1px solid #281845; 
  border-radius: 5px; 
  margin-bottom: -10px;
}

.mapboxgl-popup div {
  font-size: 1rem;
  margin-left: 10px;
  font-weight: 700;
  display: flex;
  
}

.mapboxgl-popup p {

}

@media screen and (max-width: 650px) {
  .map-wrap {
    flex-grow: 1;
  }
}
