.map-wrap {
  position: relative;
  flex-grow: 2;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#map canvas {
  width: 100%;
}

.mapboxgl-ctrl-attrib a, 
.mapboxgl-ctrl a {
  display: none;
}
